{% extends 'store/Main.html' %}
{% block title %} About Us{% endblock %}
{% block content %}
{% load static %}


  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron container bg-dark ">
    <div class="container">
      <h1 class="display-3"><img width="400px" height="200px" src="{% static '/images/JOWAI-o.png' %}"></h1>
      <i><h5>All of us enjoy that strange tingling feeling when we discover something that warms our heart and makes us want to fall in love, immediately.</h5>
      <h5>However, Online Shopping has generally never brought about that beautiful feeling. It's been far too transactional for far too long!</h5>
      <h5>But our platform always satisfy the customers, you will get the exact same products what you see here. </h5>
      <h5>
        <ul>
          <li><b>Free delivery</b> on most of the products</li>
          <li><b>50 plus brands</b> across categories like Fashion, Accessories, grooming, Technology etc..  </li>
          <li><b>100% Verified</b> Original products sourced straight from brands</li>
        </ul>
      </h5>
    </i>
    </div>
  </div>
  <div class=" text-center">
    <h1>Founders</h1>
  </div>
  <div class="container-fluid">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-3 founder-card">
        <div class="card">
          <img src="{% static  'images/Team/member-2.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ayush Tiwari</h5>
          </div>
          <i><ul class="list-group list-group-flush">
            <li class="list-group-item">Profession: Web developer</li>
            <li class="list-group-item">Contact No: 723842897</li>
            <li class="list-group-item">Email Address: AyushTiwari076@gmail.com</li>
          </ul>
          </i>
        </div>
      </div>
      
      <div class="col-md-3 founder-card">
        <div class="card">
          <img src="{% static  'images/Team/member-1.jpeg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Krishna Dave</h5>
          </div>
          <i><ul class="list-group list-group-flush">
            <li class="list-group-item">Profession: Web developer</li>
            <li class="list-group-item">Contact No: 723842897</li>
            <li class="list-group-item">Email Address: Krishnadave@gmail.com</li>
          </ul>
          </i>
        </div>
      </div>
      
      <div class="col-md-3 founder-card">
        <div class="card">
          <img src="{% static  'images/Team/member-3.jpeg' %}" class="card-img-top aboutUsPic" alt="...">
          <div class="card-body">
            <h5 class="card-title row ml-1">Mayank Maheshwari</h5>
          </div>
          <i><ul class="list-group list-group-flush">
            <li class="list-group-item">Profession: Web developer</li>
            <li class="list-group-item">Contact No: 8755223393</li>
            <li class="list-group-item">Email Address: Mynkk007.ind@gmail.com</li>
          </ul>
          </i>

        </div>
      </div>
      
      <div class="col-md-3 founder-card">
        <div class="card">
          <img src="{% static  'images/Team/member-4.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ashwini Chauhan</h5>
          </div>
          <i><ul class="list-group list-group-flush">
            <li class="list-group-item">Profession: Web developer</li>
            <li class="list-group-item">Contact No: 9568881716</li>
            <li class="list-group-item">Email Address: Chauhan.ashwini0001@gmail.com</li>
          </ul>
          </i>
 
        </div>
      </div>
      
      
    </div>

    <hr>

  </div> <!-- /container -->
  


<footer class="container">
  <p>&copy; Company 2017-2020</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script></body>
</html>

<script>
  			document.getElementById("mainDiv").classList.remove('container')

</script>

{% endblock %}